/*
link
visited
hover
active
focus
*/
div *{
    border: 1px solid black;
    width: 80px;
    height: 50px;
    background: white;
    display: inline-block;
}
div article:nth-of-type(2){
    background: orange;
}
/*
avanzadas

    :nth-child(N)
    :nth-last-child(N)
    :nth-of-type(N)
    :nth-last-of-type(N)
    :first-of-type
    :last-of-type
    :only-of-type
    :empty
    :not(S)
    :last-child
    :only-child
    :root
    :enable
    :disable
    :checked

*/